[submodule "themes/bulma"]
	path = themes/bulma
	url = https://github.com/jeblister/bulma.git
[submodule "themes/forty"]
	path = themes/forty
	url = https://github.com/MarcusVirg/forty
[submodule "themes/agency-theme"]
	path = themes/agency-theme
	url = https://github.com/digitalcraftsman/hugo-agency-theme
